body {
	background-color: var(--secondary-bg);
	color: var(--secondary-font);
}

.card {
	margin-bottom: 10px;
}

.card-icon {
	margin-right: 5px;
}

@media (max-width: 767px) {
	.card:last-child {
		margin-bottom: 53px;
	}
}

@media only screen and (min-width: 768px) {
	.card {
		margin-right: 10px;
	}
}